@media screen and (min-width: 1px) {
	#udacity-logo {
		height: 55px;
	}
}

h1 {
	font-size: 1em;
}

h5 {
	font-size: .6em;
}

#cover-img-container {
	height: 21%;
}

h3 {
	font-size: 1.1em;
}

#featured-work figure {
	width: 48%;
}

h2 {
	font-size: .9em;
}

figcaption p {
	font-size: .5em;
	margin: 0 0 7% 0;
}