@media screen and (min-width: 1px) and (orientation: portrait) {
	body {
		margin: 20px 25px;
	}

	header {
		height: 11%;
		margin: 0 0 10px 0;
	}

	#udacity-logo {
		height: 55px;
	}

	h1 {
	font-size: 1.25em;

	}

	h5 {
		font-size: .7em;
	}

	#cover-img-container {
		height: 21%;
	}

	h3 {
		font-size: 1.1em;
		text-indent: 10px;
	}

	#featured-work figure {
		width: 48%;
	}

	h2 {
		font-size: 1em;
	}

	figcaption p {
		font-size: .5em;
		margin: 0 0 7% 0;
	}
}

@media screen and (min-width: 375px) and (orientation: portrait) {
	#udacity-logo {
		height: 65px;
	}

	h1 {
		font-size: 1.4em;
	}

	h5 {
		font-size: .85em;
	}

	#cover-img-container {
		height: 18%;
	}

	h3 {
		font-size: 1.3em;
	}

	h2 {
		font-size: 1.1em;
	}

	figcaption p {
		font-size: .6em;
	}
}